* {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 237, 237);
  text-align: center;
}
.headerName {
  color: rgb(129, 126, 126);
  margin-top: 25px;
  margin-bottom: 25px;
}
.search {
  text-align: left;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  background-color: white;
  outline: 1px solid rgb(187, 181, 181);
  width: 400px;
  height: 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.search::placeholder {
  padding-left: 15px;
}
.content {
  background-color: white;
  width: 1500px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
}
.textarea {
  background-color: white;
  width: 1470px;
  height: 100px;
  resize: none;
  outline: none;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
  padding-left: 25px;
}
.textarea::placeholder {
  padding-left: 4px;
}
.contentColor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 50px;
}
.color {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  margin-left: 20px;
  height: 50px;
}

.pembe {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
  background-color: rgb(248, 133, 152);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}
.mor {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
  background-color: rgb(182, 109, 182);
  cursor: pointer;
}
.sari {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
  background-color: rgb(255, 238, 0);
  cursor: pointer;
}
.mavi {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
  background-color: rgb(57, 214, 241);
  cursor: pointer;
}
.yesil {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
  background-color: rgb(126, 221, 126);
  cursor: pointer;
}

.addButton {
  cursor: pointer;
  margin-right: 30px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  background-color: rgb(102, 185, 102);
  border: none;
  color: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.notesContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 1600px;
  margin: auto;
  margin-left: 75px;
}
.pink {
  display: flex;
  width: 260px;
  height: 100px;
  font-size: 20px;
  background-color: rgb(248, 133, 152);
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.blue {
  display: flex;
  width: 260px;
  height: 100px;
  font-size: 20px;
  background-color: rgb(57, 214, 241);
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.yellow {
  display: flex;
  width: 260px;
  height: 100px;
  font-size: 20px;
  background-color: rgb(255, 238, 0);
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.purple {
  display: flex;
  width: 260px;
  height: 100px;
  font-size: 20px;
  background-color: rgb(182, 109, 182);
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.green {
  display: flex;
  width: 260px;
  height: 100px;
  font-size: 20px;
  background-color: rgb(126, 221, 126);
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
